<% provide(:title, "Login") %>
<h1> Login </h1>

<div class="row">
	<div class="col-sm-offset-4 col-sm-4 form-default">
		<%= form_for(:session, url: sessions_path) do |f| %>

			<div class="form-group">
				<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
			</div>
			
			<div class="form-group">
				<%= f.text_field :password, class: "form-control", placeholder: "Password" %>
			</div>
			
			<div class="form-group">
				<%= f.submit "Login", class: "form-control button button_default" %>
			</div>

			<!-- <p>New user? <%= link_to "Sign up now!", signup_path %></p>
			 -->
		<% end %>

	</div>
</div>