<%= form_for(menu_part) do |f| %>
  <% if menu_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu_part.errors.count, "error") %> prohibited this menu_part from being saved:</h2>

      <ul>
      <% menu_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group file-field form-control">
    <div class="file-field__select">Выбрать файл</div>
    <div class="file-field__file-name">Файл не выбран</div>
    <%= f.file_field :img, class: "file-field__input" %>
  </div>

  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
