<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h1>Editing Menu Part</h1>

			<%= render 'form', menu_part: @menu_part %>

			<%= link_to 'Show', @menu_part %> |
			<%= link_to 'Back', menu_parts_path %>
		</div>
	</div>	
</div>
