<div class="container">
  <div class="row">
    <h1>Menu Parts</h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @menu_parts.each do |menu_part| %>
          <tr>
            <td><%= menu_part.name %></td>
            <td><%= image_tag menu_part.img.url(:thumb) %></td>
            <td><%= link_to 'Show', menu_part %></td>
            <td><%= link_to 'Edit', edit_menu_part_path(menu_part) %></td>
            <td><%= link_to 'Destroy', menu_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Menu Part', new_menu_part_path %>
    
  </div>
</div>
