<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h1>New Menu Part</h1>

			<%= render 'form', menu_part: @menu_part %>

			<%= link_to 'Back', menu_parts_path %>
		</div>
	</div>
</div>