<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu_part.name %>
  <%= image_tag @menu_part.img.url(:medium) %>
</p>

<%= link_to 'Edit', edit_menu_part_path(@menu_part) %> |
<%= link_to 'Back', menu_parts_path %>
