<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :short_descrition %>
    <%= f.text_field :short_descrition %>
  </div>

  <div class="field">
    <%= f.label :descriotion %>
    <%= f.text_area :descriotion %>
  </div>

  <div class="field form-group file-field form-control">
    <div class="file-field__select">Выбрать файл</div>
    <div class="file-field__file-name">Файл не выбран</div>
    <%= f.file_field :img, class: "file-field__input" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
