<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Short descrition:</strong>
  <%= @article.short_descrition %>
</p>

<p>
  <strong>Descriotion:</strong>
  <%= @article.descriotion %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
