<%= form_for(menu_item) do |f| %>
  <% if menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

      <ul>
      <% menu_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :cost %>
    <%= f.text_field :cost, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :status %>
    <%= f.text_field :status, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'menu' %>
    <% menu_parts = MenuPart.all.map { |part| [part.name, part.id] } %>
    <%= f.select :menu_part_id, options_for_select(menu_parts), {}, { class: 'form-control' } %>
  </div>

  <div class="field form-group file-field form-control">
    <div class="file-field__select">Выбрать файл</div>
    <div class="file-field__file-name">Файл не выбран</div>
    <%= f.file_field :img, class: "file-field__input" %>
  </div>

  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>