<div class="container">
	<div class="row">
		<div class="col-sm-4"><h1>New Menu Item</h1>

		<%= render 'form', menu_item: @menu_item %>

		<%= link_to 'Back', menu_items_path %>
		</div>
	</div>
</div>