<div class="col-sm-offset-4 col-sm-4 form-default">
  <%= form_for(user) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="field form-group">
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>

    <div class="field form-group">
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>

    <div class="field form-group">
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>

    <div class="field form-group">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmation" %>
    </div>

    <div class="actions form-group">
      <%= f.submit class: "form-control button button_default", value: "Sign up" %>
    </div>
  <% end %>
</div>