<div class="col-sm-6 article">
	<div class="container-fluid">
		<div class="row article__image">
			<%= image_tag article.img.url(:medium)  %>		
		</div>

		<div class="row article__date">
			<%= article.updated_at.strftime("%B %-d, %Y").upcase %>
		</div>

		<div class="row article__title">
			<%= link_to article.name, article %>
		</div>

		<div class="row article__short-description">
			<%= article.short_descrition %>		
		</div>

		<div class="row"> 
			<%= link_to 'READ MORE', article, class: 'article__button button button_inverse button_hover-red' %>
		</div>

	</div>
</div>