<%= form_for(reservation, html: {:class => 'form-reservation'}) do |f| %>
	<div class="field form-group">
		<%= f.text_field :name, class: 'form-control', placeholder: 'Your name *' %>
	</div>

	<div class="field form-group">
		<%= f.text_field :email, class: 'form-control', placeholder: 'Email *' %>
	</div>

	<div class="field form-group">
		<%= f.text_field :phone, class: 'form-control', placeholder: 'Phone number' %>
	</div>

	<div class="field form-group">
		<%= f.text_area :comment, class: 'form-control', placeholder: 'Comment *' %>
	</div>

	<div class="field form-group">
	
		<div class="row">
			<div class="col-sm-8">
				<%= f.submit class: 'form-control button button_inverse button_hover-red', value: 'RESERVATION' %>
			</div>
		</div>
	</div>
<% end %>