<div id="myCarousel" class="carousel slide quoties" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active quoties__quote quote">
    	<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<%= image_tag("quote_img.png", class: 'quote__img') %>
				<div class="quote__text">
					The prices are as good as the menu! Each time I spend less money, than anywhere else and get a fresh, tasty, homemade dinner!
				</div>
				<div class="quote__author">
					Leah, posted on Foursquare
				</div>
			</div>
		</div>
    </div>

    <div class="item quoties__quote quote">
    	<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<%= image_tag("quote_img.png", class: 'quote__img') %>
				<div class="quote__text">
					I've been eating their business lunches for past 7 years. Not even once have I had any unpleasant experience. And the dishes always taste fresh and good!
				</div>
				<div class="quote__author">
					Dorn, TripAdvisor
				</div>
			</div>
		</div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>