<div class="recommended-item col-sm-6">
	<% menu_item = MenuItem.find_by(status: status) %>
	<%= link_to(menu_item, class: 'recommended-item__link') do %>
		<%= image_tag(menu_item.img.url(:medium), class: 'recommended-item__img') %>
		<div class="recommended-item__foreground"></div>
	<% end %>
	<div class="recommended-item__sticker"><%= status %></div>
	<div class="row">
		<div class="recommended-item__caption col-sm-offset-1 col-sm-10">
			<div class="recommended-item__title">
				<%= menu_item.name %>
			</div>
			<%= separator_block(12, true) %>	
		</div>	
	</div>
</div>