<div class="container-fluid about">
	<div class="row about__description">
		<div class="col-sm-5 ">
			<p class=" ">
				La Resto  is a place defined by our main philosophy - to keep things simple, tasty and create a home-like cozy atmosphere for our Restaurant's visitors.
			</p>
			<%= separator_block(2) %>
		</div>
	</div>

	<div class="row about__philosophy philosophy">
		<%= image_tag("about-philosophy.jpg", class: "col-sm-5 philosophy__img") %>
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8">
					<div class="philosophy__title title-content">
						PHILOSOPHY
					</div>
					<%= separator_block(5, true) %>
					<div class="philosophy__text">
						"Coming to us for a lunch or a dinner should be just as comfortable, as having one at home. The simplicity, the freshness and reasonable prices on our dishes just underline how home-like our Restaurant is..."
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row meet-our-team">
		<div class="col-sm-offset-1 col-sm-10">
			<div class="meet-our-team__title">
				MEAT OUR TEAM
			</div>
			<p>
				La Resto is a family owned Restaurant, that treasures the atmosphere just as much as the dining menu. We have gathered a strong team of professionals, all of whom aspire to constantly excel and step up!
			</p>
			<p>
				Mary Neffedy, Thomas Palmer. Simon Wicked and Alan Smith are at the heart of everything we do here, at the La Resto contemporary Restaurant. This team has been assembled coming from absolutely different backgrounds. It's most noticeable when we compare Mary and her two sous chefs. Mary has been studying and working the art of cooking in Paris while Thomas and Simon had more local experience in the US Restaurants.	
			</p>
			<p>
				We're really proud to recognize that this menu consists of truly modern delicious food. Our menu is known by national dishes from different countries, mixed up and adapted to an American contemporary lifestyle.
				By the way, each of our culinary talents focuses within their own specific kitchen department...
			</p>
		</div>
	</div>
	
	<div class="row chefs">
		<div class="col-sm-3">
			<%= image_tag("our-team1.jpg") %>
		</div>
		<div class="col-sm-3">
			<%= image_tag("our-team2.jpg") %>
		</div>
		<div class="col-sm-3">
			<%= image_tag("our-team3.jpg") %>
		</div>
		<div class="col-sm-3">
			<%= image_tag("our-team4.jpg") %>
		</div>
	</div>
	

	<div class="row recent">
		<div class="col-sm-offset-4 col-sm-8">
			<div class="row recent__title">
				RECENT FROM THE PRESS
			</div>

			<div class="row recent__dishes">
				<div class="col-sm-3 dish">
					<%= image_tag("recent1.jpg") %>
					<div class="dish__title">Washington Post</div>
					<%= separator_block %>
				</div>
				<div class="col-sm-3 dish">
					<%= image_tag("recent2.jpg") %>
					<div class="dish__title">City Paper</div>
					<%= separator_block %>
				</div>
				<div class="col-sm-3 dish">
					<%= image_tag("recent3.jpg") %>
					<div class="dish__title">Alexandria Sun</div>
					<%= separator_block %>
				</div>
				<div class="col-sm-3 dish">
					<%= image_tag("recent4.jpg") %>
					<div class="dish__title">Soft Opening Gallery</div>
					<%= separator_block %>
				</div>
			</div>
		</div>
	</div>

	<div class="row discover">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="discover__title">
				DISCOVER COOKING HINTS, TIPS & TECHNIQUES
			</div>
			<div class="discover__text">
				Enjoy your fabulous virtual tour to Italia...with its classic Italian styles, specific authentic aromas, flavorful, handmade recipes passed down for more than four generations.
			</div>
			<div class="row">
				<div class="col-sm-offset-4 col-sm-4">
					<%= link_to "CLICK HERE", "", class: "button button_default button_hover-red" %>		
				</div>
			</div>
				
		</div>
		
	</div>
</div>