<% provide(:header_root, @header_root) %>
<div class="container-fluid">
	<div class="row main">
		<div class="col-sm-4 col-sm-offset-4 main-content">
			<div class="logo">
				<a href=<%= la_resto_path %>><img src=<%= asset_path 'logo.png' %> alt="resto"></a>
			</div>
			<div class="contacts">44 Canal Center Plaza #200,
				Alexandria, VA 22314, USA
				555.329.0632
			</div>
			<div class="time">
				Opening hours:<br>
				Mo-Fr 11:00-00:00,<br>
				Sa 15:00-00:00
			</div>
			<a href=<%= la_resto_reservation_path%> class="button button_default button_hover-red">RESERVATION</a>	
		</div>	
	</div>

	<div class="row second">
		<div class="col-sm-5">
			<div class="title-content">
				WHO WE ARE
			</div>
			<%= separator_block(4) %>
			
			<div class="text">
				Our restaurant's goal is to have each visitor leaving us well-fed and in a better mood than before!
				<br>
				<br>
				That is why we put our focus on two things at once. Firstly, on maintaining our menu as fresh and diverse, as possible. And secondly, on creating the atmosphere of home-like coziness and friendliness.
			</div>
			<%= separator_block(2) %>
			<div class="awards row">
				<img class="col-sm-4" src=<%= asset_path 'tripadvisor.jpg' %> alt="">
				<img class="col-sm-4" src=<%= asset_path 'time_out.jpg' %> alt="">
				<img class="col-sm-4" src=<%= asset_path 'yelp.jpg' %> alt="">
			</div>
		</div>
	</div>

	<div class="row our-mission">
		<div class="containter-fluid">
			<div class="our-mission__main-goal row">
				<%= image_tag("our-mission_1.jpg", class: 'col-sm-6') %>
				<div class=" col-sm-6 ">
					<div class="row">
						<div class="col-sm-offset-2 col-sm-8">
							<div class="our-mission__title-content title-content">
								OUR MISSION
							</div>
							<%= separator_block(2, true) %>
							<div class="our-mission__text">
								Our restaurant's special mission is to provide a cozy, home-like atmosphere for our visitors. As well, as keeping our menu as diverse and appetizing as possible. We were able to keep these 2 promises throughout all the years in service!
							</div>
							<%= separator_block(1, true) %>
						</div>
					</div>
					
				</div>
			</div>
			<div class="our-mission__quoties row">
				<div class=" col-sm-6">
					<%= render 'quoties-slider' %>
				</div>
				<%= image_tag("our-mission-2.jpg", class: 'col-sm-6' ) %>
			</div>
		</div>
	</div>

	<div class="row our-menu">
		<div class="our-menu__title title-section">
			OUR MENU
		</div>
		<% @menu_parts.each_with_index do |menu_part, index| %>
			<% if index % 2 == 0 %>
				<div class="row">
					<%= render 'menu-part', menu_part: menu_part %>
			<% else %>
					<%= render 'menu-part', menu_part: menu_part %>
				</div>
			<% end %>
		<% end %>
	</div>
	
	<div class="row recommended">
		<div class="col-sm-offset-4 col-sm-8">
			<div class="row">
				<div class="recommended__title title-section">
					RECOMMENDED
				</div>
			</div>

			<div class="row">
				<%= render 'recommended-item', status: 'new' %>
				<%= render 'recommended-item', status: 'chef\'s choice' %>
			</div>
		</div>
	</div>

	<div class="row chef-info">
		<div class="chef-info__title col-sm-12">
			CHEF OF LA RESTO
		</div>
		<div class="chef-info__text col-sm-offset-2 col-sm-8">
			Head Chef Michael Bornmann is THE Chef with no doubt. He is the heart of our restaurant and he is the one who brings the spirit and soul into it. He is an experienced cook with a long list of awards, prizes and trophies. He took part in the TV-programs that still run on TV. The life of Michael Bornmann is not a simple life of a chef. He establishes books for food lovers, gives interviews, comes to the most famous TV shows. He is a real celebrity! Michael Bornmann and his Sous-Chef Juliane Santini remember their names because they can cook the best Italian dish you have ever eaten in your life!
		</div>
	</div>

	<div class="row subscribe">
		<div class="col-sm-offset-1 col-sm-10">
			<div class="row">
				<div class="subscribe__title title-content">
					JOIN OUR NEWSLETTER
				</div>
				<%= separator_block(2, true) %>
			</div>
			<div class="row subscribe__form">
		
				<div class="col-sm-4 subscribe__description">
					We deliver not only pizza, but also good news and event details as well straight to your incoming mail!
				</div>
				<div class="col-sm-7 ">
					<%= form_tag "/subscribe", method: 'post' do %>
						<%= text_field_tag(:email, "", class: "form-control", placeholder: 'Email') %>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-5">
									<%= submit_tag("Subscribe", class: 'button button_default form-control') %>
								</div>
							</div>
							
						</div>
					<% end %>
				</div>
			</div> 
		</div>
	</div>	
</div>