<div class="container-fluid">
	<div class="row title-page">OUR MENU</div>

	<div class="row menu-parts">
		<% @menu_parts.each_with_index do |menu_part, index| %>
			<% if index % 2 == 0 %>
				<div class="row">
					<%= render 'menu-part', menu_part: menu_part %>
			<% else %>
					<%= render 'menu-part', menu_part: menu_part %>
				</div>
			<% end %>
		<% end %>
	</div>

	<div class="row deserts">
		<div class="col-sm-5">
			<div class="title-content">
				<%= @deserts.name.upcase %>
			</div>
			<%= separator_block(3) %>
			<% @deserts.menu_items.each do |desert| %>
				<div class="item">
					<div class="item__name">
						<%= desert.name %>
						
					</div>
					<div class="item__cost">
						<%= number_to_currency(desert.cost, precision: 2) %>
					</div>
				</div>
			<% end %>
			<%= separator_block(1) %>
		</div>
	</div>

	<div class="row wine-list">
		<div class="col-sm-offset-7 col-sm-5">
			<div class="title-content">
				<%= @wine_list.name.upcase %>
			</div>
			<%= separator_block(3) %>
			<% @wine_list.menu_items.each do |wine| %>
				<div class="item">
					<div class="item__name">
						<%= wine.name %>
					</div>
					<div class="item__cost">
						<%= number_to_currency(wine.cost, precision: 2) %>
					</div>
				</div>
			<% end %>
			<%= separator_block(1) %>
		</div>	
	</div>

	<div class="row catering">
		<div class="catering__title">CATERING</div>
		<div class="catering__text">
			Please call at least 24 hours in advance for catering orders.
		</div>
		<div class="catering__button col-sm-offset-4 col-sm-4">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8">
					<%= link_to "MAKE ORDER", "", class: "button button_default button_hover-red" %>		
				</div>
			</div>
		</div>
	</div>
</div>