<div class="container-fluid">
	<div class="row news">
		<div class="row">
			<div class="title-section">WHAT'S NEW</div>
		</div>
		<% @articles.each_with_index do |article, index| %>
			<% if index % 2 == 0 %>
				<div class="container-fluid">
					<div class="row">
						<%= render 'article', article: article %>
			<% else %>
						<%= render 'article', article: article %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>