<div class="container-fluid">
	<div class="row reservation-main">
		<div class="col-sm-5 col-sm-offset-7">
			<div class="title-content">RESERVATION</div>
			<div class="container-fluid">
				<div class="row">
					<div class="undertitle col-sm-2"></div>
				</div>
			</div>
			<div class="text">
				Our Restaurant is the place for any food-accompanied occasion! Be it a business meeting lunch, a family birthday dinner, anniversary or a proposal romantic dinner or any other event... we will make sure the atmosphere and dishes do the justice!
			<br>
			<br>
				We are available 24/7 and always ready to meet all your needs and requirements during the night time.
			<br>
			<br>
				Please call 555.329.0632  or fill out the  contact form  and we will call back to you ASAP.
			</div>
			<%= render 'form_reservation', reservation: @reservation %>
		</div>
	</div>
</div>`