<div class="container-fluid">
	<div class="row under-construction">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="under-construction__title">
				Page Under Construction
			</div>
		</div>
	</div>
</div>