<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :short_descrition %>
    <%= f.text_field :short_descrition %>
  </div>

  <div class="field">
    <%= f.label :descriotion %>
    <%= f.text_area :descriotion %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
