<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Short descrition:</strong>
  <%= @post.short_descrition %>
</p>

<p>
  <strong>Descriotion:</strong>
  <%= @post.descriotion %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
