.about {
	margin-top: 77px;
}

.about__description{
	background-image: image-url("about1.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
	
	font-size: 19px;
	line-height: 1.5;
	letter-spacing: 0px;
    padding: 55px 0 75px 0px;
    color: $color-first;
    font-weight: 400;
}


// philosophy

.philosophy{
	background-color: $color-second;
	margin: 40px 5px;
	color: #fff;
}

.philosophy__title{
	color: #fff;
}

.philosophy__text{
	margin-top:10px;
	font-style: italic;
}

.philosophy__img{
	padding: 0px;
}

// meet our team
.meet-our-team{
	color: $color-first;
	text-align: center;
	font-size: 16px;
}

.meet-our-team__title{
	font-size:32px;	
}

.chefs div{
	padding: 0px;

	img{
		height: 320px;
	}
}

.recent{
	margin: 40px 0;
}

.recent__title{
	margin-bottom: 20px;
	text-align: right;
}

.recent__dishes:last-child{
	padding-right: 0px;
}

.dish img {
	width: 100%;
}

.dish__title{
	margin: 10px 0px;
}

.discover{
	background-image: image-url("about-discover.jpg");
	background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
}

.discover__title{
	font-size:32px;
	line-height: 1.2;
	letter-spacing:0px;
	margin: 20px 0;
}

