$color-first: #312c37;
$color-second: #d15a4e;
$color-header: rgba(49,44,55,0.8);
$color-link: #9e9e9e;
$color-text: #9e9e9e;
$color-link-hover: #ffffff;
$color-background: #f3f2f0;

@font-face{
	font-family: 'Merriweather';
	src: font-url('merriweather.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
} 

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: $color-background;
	color: $color-text;
	background-attachment: scroll;
	font-family: "Helvetica Neue", "Helvetica,Arial,sans-serif";
	font-size: 14px;
	/* background-image: url("home_parallax.jpg");
	background-size: cover;
    background-position: center top;
    background-repeat: no-repeat; */

}
// block main
.main {
	color: #ffffff;
	background-image: image-url("main.jpg");
	background-size: cover;
	background-position: center top;
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;

	img {
		width: 100%;
	}

	.contacts, .time {

		font-size: 18px;
		padding-top: 40px;
    	line-height: 1.4;
    	letter-spacing: 0px;
    	font-weight: 700;
    	font-family: 'Merriweather', serif;
	}
}

.title-content{
	font-size: 24px;
	color: $color-first;
	margin-top: 40px;
	margin-bottom: 8px; 
	font-weight: 400;

}

.text{
	margin-top: 15px;
	margin-bottom: 10px;
	color: $color-link;
	font-size: 15px;
	font-family: 'Merriweather', serif;
}

.separator{
	height: 4px;
	background-color: $color-first;
}

.separator_inverse{
	background-color: #ffffff; 
}

// block second
.second{
	background-image: image-url("second");
	background-size: cover;
	background-position: left top;
	line-height: 1.6;


	.awards{
		margin-top: 20px;
		margin-bottom: 40px;
	}
}

.title-section{
		font-weight: 400;
		font-size: 30px;
		padding: 50px 0 20px 0; 
		color: $color-first;
		text-align: center;
	}

// block our-mission
.our-mission{
	text-align: left;
	margin: 20px 15px;

	.col-sm-6{
		padding-left: 0px;
		padding-right: 0px;
	}
}

.our-mission__title-content{
	color: #ffffff;
}

.our-mission__text{
	padding: 20px 0px;
}

.our-mission__main-goal{
	background-color: $color-first;
	background-image: image-url("our-mission-goal.png");
	background-size: auto;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.our-mission__quoties{
	background-color: $color-second;
	color: #ffffff;
}

.quote__img{
	padding: 55px 0px 31px 0px;
}

.quote__author{
	margin: 20px 0px;
	text-align: right;
}


// block our-menu
.our-menu__category{
	padding: 0;
	background-size: cover;
	height: 500px;
}

.our-menu__title{

}

.category{
	
}

.category__img{
	width: 100%;
	height: 100%;
}

.category__caption{
	position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    padding: 55px 50px 0 55px;
    opacity: 1;
    font-size: 22px;
    letter-spacing: 0.07em;
    line-height: 1;
    height: 100%;
    width: 100%;
    text-align: left;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: $color-background;
    background-color: rgba(75,72,81,0.5);
    &:after {
		content: ">";
	    font-size: 48px;
	    font-family: 'Astloch', display;
	    line-height: 1.2;
	    opacity: 0;
	    transition: 0.3s; 
	    position: absolute;
	    z-index: 5;
	    bottom: auto;
	    top: 35px;
	    right: 105px;
	    left: auto;
    }

}

.category__caption.animate:after{
	content: ">";
    font-size: 48px;
    font-family: 'Astloch', display;
    line-height: 1.2;
    position: absolute;
    opacity: 1;
    z-index: 5;
    bottom: auto;
    top: 35px;
    right: 75px;
    left: auto;
}



// block recommended
.recommended{
	background-size: cover;
	padding-bottom: 40px
}

.recommended__title{
	padding-right: 15px;
    text-align: right;
}

.recommended-item{
	
}

.recommended-item__img{
	width: 100%;
	height: 100%;
}

.recommended-item__sticker{
	color: #ffffff;
	position: absolute;
	top: 0px;
	padding: 20px 25px;
	background-color: $color-second;
}

.recommended-item__caption{
	position: absolute;
	bottom: 15%;
}

.recommended-item__title{
	color: #ffffff;
    padding-bottom: 15px;
    font-size: 22px;
    line-height: 1.3;
}

.recommended-item__link{
	display: block;
	position: relative;
}

.recommended-item__foreground{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(75,72,81,0.5);
}

// block chef-info
.chef-info{
	background-image: image-url("chef.jpg");
	   background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

	color: #ffffff;
}

.chef-info__title{
	text-align: center;
	
	font-size: 32px;
	line-height: 1.2;
	letter-spacing: 0px;
	font-weight: 400px;
	padding: 60px 0 30px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.chef-info__text{
	text-align: center;
	font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0px;
    padding-bottom: 40px;
}

//block subscribe
.subscribe{
	color: #ffffff;
	background-color: $color-second;
	margin: 30px 10px;
	padding-bottom: 40px;
}

.subscribe__title{
	color: #ffffff;
}

.subscribe__description{
	padding-left: 0px; 
}

.subscribe__form{
	padding-top: 10px;
	.button{
		padding: 0px;
		border: 0px;
		margin-top: 20px;
		float: left;
	}

	.form-control{
		border-radius: 0px;
	}
}
