.header {
	background-color: $color-header;
	text-align:center;
}

.header_general{
	background-color: $color_first;
}

.header__menu{
	float:none;
	li {
		float: none;
		display: inline-block;
		a {
			display: block;
			font-family: 'Merriweather', serif;
			font-weight: 400;
			font-style: normal;
			font-size: 12px;
			letter-spacing: 1.12px;
			line-height: 1.15;
			padding: 32px 10px;
			color: $color-link;
			border-color: transparent;
			
			&:hover {
				background-color: $color-second;
				color: $color-link-hover;
			}
		}
	}
}

.header__logo-small{
	padding-top: 13px;
}

.header__logo-text{
	color: #fff;
	font-size: 17pt;
	font-weight: 400;
	text-align: left;
}

.header__text-undertitle{
	line-height: 0.4;
    font-size: 11pt;
}

footer {
	color: $color-first;
	text-align: center;
	.row {
		padding: 20px 0px;
	}
	a{
		color: inherit;
		text-decoration: none;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		margin: 10px;	
		&:hover{
			color:$color-second;
			text-decoration: none;
		}
	}
}