.title-page{
	padding-top: 110px;
	padding-bottom: 10px;
    text-align: center;
    color: $color-first;
    font-size: 20pt;
}

.deserts{
	background-image: image-url("menu-for-deserts.jpg");
	background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.item{
	font-size: 13pt;
    padding: 10px 0px 10px 0px;
}

.item__name{
	vertical-align: bottom;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	width: 85%;
	color: $color-first;

	&:after{
		content: ".............................................................................";
	}
}

.item__cost{
	display: inline-block;
	color: $color-second;
}


.wine-list{
	background-image: image-url("menu-for-winelist.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.catering{
	text-align: center;
	background-image: image-url("menu-catering.jpg");
	color: #fff;
	padding: 20px;
}

.catering__title{
	font-size: 20pt;
}

.catering__text{
	padding-top: 20px;
	font-size: 12pt;
}