.article{
	margin-bottom: 20px;
}

.article__date{
	color: $color-second;
	font-family: 'Merriweather', serif;
	padding: 10px 0px;
}

.article__image{

	img{
		width: 100%;
	}
}

.article__button {
	float: left;
}

.article__title{
	padding: 10px 0px;
	text-decoration: none;
	font-weight: 400;
	font-style: normal;
	a{
		color: $color-first;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		font-size: 19px;
	    line-height: 1.3;
	    letter-spacing: 0px;
		&:hover{
			color: $color-second;
			text-decoration: none;
		}	
	}
}

.article__short-description{
	padding: 10px 0;
}

