.reservation-main{
	background-image: image-url("reservation_background.jpg");
	padding: 0px 0px 40px 0px;
	background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

}

.form-reservation{
	.button {
		border-radius: 0px;
		padding: 0px;
		border: 0px;
	}
	.form-control{
		border-radius: 0px;
	}
	textarea{
		height: 100px;
	}
}