.form-default {
	padding: 30px;
	margin-top: 30px;
	background-color: $color-second;
	.button_default {
		border-radius: 0px;
		padding: 0px;
		border: 0px;
	}
	.form-control{
		border-radius: 0px;
	}
}

@mixin outline-btn($color) {
	outline-width: 2px;
	outline-style: solid;
	outline-offset: 3px;
	outline-color: $color;
} 

.file-field{

	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;

	&:hover > .file-field__select, &:active > .file-field__select{
		background: #286090;
		border-color: #204d74;
		 
	}
}

.file-field__select{
	background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    height: 25px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.file-field__file-name{
	padding: 2px 0 0 12px;
}

.file-field__input{
	position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 30px; 
    z-index:20;
}
 
.button {
	margin-top:40px;
	display: block;
	padding: 20px 31px;
	font-weight: 700;
	transition: 0.3s;
	letter-spacing: 0.07em;
	&:hover{
		color: #ffffff;
		text-decoration: none;
	}
}

.button_default{
	@include outline-btn(rgba(255,255,255,0.5));
	color: $color-first;
	background-color: #ffffff;
	&:hover{
		background-color: $color-first;
		@include outline-btn(rgba(255,255,255,0.5));
	}
}

.button_inverse{
	@include outline-btn(#928f93);
	color: #ffffff;
	background-color: $color-first;
	&:hover{
		background-color: #ffffff;
		@include outline-btn(#928f93);
	}
}

.button_hover-red{
	&:hover{
		background-color: $color-second;
	}
}