<div class="row">
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="widgets">
					<%= link_to "" do %>
						<i class="fa fa-facebook fa-lg" aria-hidden="true"></i>	
					<% end %>
					<%= link_to "" do %>
						<i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
					<%end%>
					<%= link_to "" do %>
						<i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
					<%end%>
					<%= link_to "" do %>
						<i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
					<%end%>
					
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				All Rights Reserved ©  La Resto 2016  |  Privacy Policy
			</div>
		</div>
	</footer>
</div>