<% if !header_root.empty? %>
<header class="container-fluid navbar-fixed-top header">
	<div class="row">
		<div class="col-sm-12">
<% else %>
<header class="container-fluid navbar-fixed-top header header_general">
	<div class="row">
		<div class="col-sm-3 header__logo-small">
			<div class="row">
			<%= link_to(la_resto_path) do %>
				<div class="col-sm-4">
				<%= image_tag("logo-small.png") %>
				</div>
				<div class="col-sm-8 header__logo-text">
					<div class="row">
						LA RESTO
					</div>
					<div class="row header__text-undertitle">
						LIKE NO PLACE
					</div>
					
				</div>
			</div>
			<% end %>
		</div>
		<div class="col-sm-9">
<% end %>
			<ul class="nav navbar-nav header__menu">
				<li><%= link_to "ABOUT", la_resto_about_path %></li>
				<li><%= link_to "MENU", la_resto_menu_path %></li>
				<li><%= link_to "RESERVATION", la_resto_reservation_path %></li>
				<li><%= link_to "NEWS", la_resto_news_path %></li>
				<li><%= link_to "BLOG", la_resto_blog_path %></li>
				<li><%= link_to "CONTACTS", la_resto_contacts_path %></li>
				<% if signed_in? %>
					<li><%= link_to "LOGOUT", logout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to "SIGN UP", signup_path %></li>
					<li><%= link_to "LOGIN", login_path %></li>
				<% end %>
			</ul>
		</div>
	</div>	
</header>
