<!DOCTYPE html>
<html>
  <head>
    <title>MyApp | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>
  <body>
  	<%= render 'layouts/header', header_root: yield(:header_root) %>
  	<%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
